PROJECT_NAME=Future ERP AI
ENV=dev
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/future_erp_ai
AUTO_CREATE_DB=true

# SQLite ile denemek için:
# DATABASE_URL=sqlite:///./future_erp_ai.db
# AUTO_CREATE_DB=false
