fastapi
uvicorn[standard]
pyjwt>=2.8.0
argon2-cffi>=23.1.0
pydantic
pydantic-settings
email-validator>=2.0.0
SQLAlchemy>=2.0
alembic>=1.13
psycopg[binary]
python-dotenv
structlog>=24.0
Faker>=30.0
pandas
prophet
openai
sqlglot
google-generativeai
google-genai
